﻿@model PhoneShop.Web.Models.Customer

<h2>Edit one Customer</h2>

@using (Html.BeginForm("Edit", "Customer"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())
    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Date)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Date)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Email)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Email)</div>

    <div class="editor-label">@Html.LabelFor(m => m.PhoneNumber)</div>
    <div class="editor-field">@Html.EditorFor(m => m.PhoneNumber)</div>

    <div class="editor-label">@Html.LabelFor(m => m.CustomerPoints)</div>
    <div class="editor-field">@Html.EditorFor(m => m.CustomerPoints)</div>

    <div class="editor-label">@Html.LabelFor(m => m.WorkId)</div>
    <div class="editor-field">@Html.EditorFor(m => m.WorkId)</div>

    <input type="submit" value="SEND"/>
}


