﻿@model PhoneShop.Web.Models.Customer
@{
    ViewBag.Title = "CustomerDetails";
}

<h2>CustomerDetails</h2>
@Html.ActionLink("Go back to the list", "Index");
<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.WorkId)</td>
        <td>@Html.DisplayFor(m => m.WorkId)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Email)</td>
        <td>@Html.DisplayFor(m => m.Email)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.PhoneNumber)</td>
        <td>@Html.DisplayFor(m => m.PhoneNumber)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Date)</td>
        <td>@Html.DisplayFor(m => m.Date)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.CustomerPoints)</td>
        <td>@Html.DisplayFor(m => m.CustomerPoints)</td>
    </tr>
</table>

