﻿@model PhoneShop.Web.Models.CustomerViewModel
@{
    ViewBag.Title = "CustomerIndex";
}

<h2>CustomerIndex</h2>
<p style="color:red; font-weight: bold">@TempData["editResult"]</p>

@Html.Partial("CustomerEdit", Model.EditCustomer)
@Html.Partial("CustomerList", Model.ListOfCustomres)
